doctype
html(lang="zh-CN")
  head
    include head

  body
    include sidebar
    .main
      include nav

      block content

    script(src= url_for('//cdn.bootcss.com/jquery/1.9.0/jquery.js'))
    script(src= url_for('//cdn.bootcss.com/jquery-migrate/1.2.1/jquery-migrate.js'))
    script(src= url_for('js/jquery.appear.js'))
